@media screen and (max-width: 768px)
{
	.slogan
	{
		font-size: 90%
	}
	.colone
	{
		display: none;
	}
	.navigation ul, .footer ul
	{
		display: flex;
		flex-direction: column;
	}
	.article
	{
		width: auto;
		font-size: 90%;
	}
	.logo
	{
		width: 150px;
		height: auto; 
	}
}